<div class="ui black inverted vertical footer segment">
<div class="ui center aligned container">
  <div class="ui inverted section divider"></div>
  <div class="ui horizontal inverted small divided link list">
    <span>Built with Node.js</span>
  </div>
</div>
</div>
</body>
</html>
