<html>
<head>
  <title>midwalls - Portfolio</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a class="item" href="/">
        <i class="student icon"></i>midwalls
        <!-- code icon -->
      </a>
      <a href="/" class="item">Home</a>
      <a href="/blogs/new" class="item">New Post</a>

      <a href="/" class="item">Android</a>
      <a href="/" class="item">Machine Learning</a>
      <div class="ui simple dropdown item">
        Client Side
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/" class="item">JavaScript</a>
          <a href="https://semantic-ui.com/" class="item" target="_blank">Semantic UI</a>
        </div>
      </div>
      <div class="ui simple dropdown item">
        Server Side
        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="/" class="item">Node.js</a>
          <a href="/" class="item">Python</a>
          <a href="/" class="item">C++</a>
          <a href="/" class="item">Java</a>

        </div>
      </div>
    </div>
  </div>
